
.cart-wrapper {
    display: flex;
    justify-content: center;
}

.cart {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
    margin: 30px 10px;
}

.cart-ticket-btn {
    padding: 10px 25px;
    margin: 0px 10px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}



.total-cart-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.total-cart {
    align-items: end;
    /* margin-left: 70px; */
    font-weight: bold;
    background-color: #CEA581;
    color: black;
    padding: 10px 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.tickets-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


tr, th {
    padding: 0px 10px;
    margin: 0;
}

table {
    /* border: 1px solid black; */
    border-radius: 25px;
}

.no-tickets {
    padding: 15px 2px;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    width: 450px;
}

td {
    padding: 0 10px;
    text-align: start;
}

tr:nth-child(even) {
    background-color: #CEA581;
}

thead {
    background-color: #CEA581;
    border: 1px solid black;
}

.plus, .minus {
    padding: 8px 20px;
    margin: 10px 0px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.fest-title {
    text-align: center;
}



/* .fest-text-ticket, .price, .ticket-number, .total {
    margin-top: 20px;
    margin-left: 0;
} */
