
.cart-wrapper {
    display: flex;
    justify-content: center;
}

.cart {
    width: 700px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
    margin: 30px 10px;
}

.cart-ticket-btn {
    padding: 10px 25px;
    margin: 0px 20px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

table {
   margin-left: 70px;
}


.total-cart-wrapper {
    display: flex;
    justify-content: start;
    margin-top: 30px;
   
  
}

.total-cart {
    margin-left: 70px;
    font-weight: bold;
    background-color: #704632;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.tickets-cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* .ticket-wrapper {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    padding: 10px 10px;
    border: 1px solid grey;
    justify-content: start; 
    gap: 10px;
} */

tr, th {
    padding: 0px 10px;
    /* border: 1px solid grey; */
    border-radius: 15px;
    margin: 0;
}

td {
    padding: 0px 2px;
    /* border: 1px solid grey; */
    text-align: center;
}

tr:nth-child(even) {
    background-color: #CEA581;
}

.plus, .minus {
    padding: 8px 20px;
    margin: 10px 0px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.fest-title {
    text-align: center;
}

.no-tickets {
    margin-top: 30px;
    width: 450px;
    text-align: center;
}

/* .fest-text-ticket, .price, .ticket-number, .total {
    margin-top: 20px;
    margin-left: 0;
} */
