body {
    margin:0;
    font-family: 'Lato', 'sans-serif';
    background-color: #F4E4D8;
    /* position: relative; */
    /* min-height: 100vh; */

  }
  
  *, **, ::before, ::after {
    box-sizing: border-box;
  }

  


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-bottom: 0;
    margin-top: 0;
    background-color:#CEA581;
}

.wrapper {
    display: flex;
    margin: 20px;
    justify-content: center;
    
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
    justify-content: center; 
}

.img-background {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 400px;
}

.img-background img {
    width: 100%;
    object-fit: cover;
}





.popular-fests {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 40px;
    justify-content: space-between;
}


.popular-fest-item {
    width: 335px;
    border: none;
    box-shadow: 0px 0px 10px;
    border-radius: 15px;
    margin: 20px 20px;
}

/* .popular-fests-title, .fest-city-title {
    text-align: center;
    margin: 60px 40px;
} */

/* .img-fest {
    width: 420px;
    height: 230px;
    object-fit: cover;
    padding: 0px 0px;
    
}


.img-fest img {
    width: 80%;
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} */


.popular-fest-text, .popular-fest-dates {
    margin: 0px 0;
    padding: 20px 0px;
    text-align: center;
    margin-top: -20px;
}

.nav-links {
    list-style-type: none;
    margin: 10px 10px;
    padding: 10px 10px;

}

.links {
    text-decoration: none;
    margin: 20px 0;
    padding: 10px 10px;
    background-color: #704632;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}



/* header {
    height: 700px;
    max-width: 100vw;
    background-image: url('https://cdn.pixabay.com/photo/2018/04/17/22/47/wood-3329037_1280.jpg');
    background-repeat: no-repeat;
} */

.city-item {
    margin: 20px 42px;
    border-radius: 200px;
    height: 250px;
    width: 250px;
    padding-bottom: 100px;
    padding-top: 0;
    text-align: center;

}

.city-name {
    margin-left: 20px;
    margin-right: 20px;
    
    font-weight: bold;
    text-transform: uppercase;
    background-color: #704632;
    color: white;
    margin-top: -13px;
}

.fest-city {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0px 60px;
    justify-content: space-between;
}

.city-item img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    margin: 10px 0px;
    border-radius: 50%;
   
}

/* footer{
    background-color: #CEA581;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
} */

/* .contact {
    display: flex;
    justify-content: space-between;
}

.contact-links-item a {
    text-decoration: none;
    color: #704632;
} */

/* .socials li {
    list-style: none;
    margin: 10px 10px;

} */

/* .socials {
    display: flex;
    align-items: center;
    font-size: 25px;
}


.contact-links li {
    list-style: none;
    line-height: 2;
    font-weight: bold;
    color: #704632;
    
} */

/* .social-links {
    text-decoration: none;
    color:#704632;
} */

/* .footer-content {
    margin: 0 60px;
} */


/* .tickets {
    display: flex;
    justify-content: center;
    margin: 0 0;
} */

/* .ticket-btn {
    padding: 10px 25px;
    margin: 10px 20px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
} */

.city-btn {
    text-decoration: none;
    color: #F4E4D8;
}

.login-container {
    width: 350px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
}

.wrapper-login {
    width: 350px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 10px 30px;
}

form {
    display: flex;
    justify-content: center;
    padding: 60px 100px;
}


.login-title {
    display: flex;
    flex-direction: column;
    line-height: 2.7;
    text-align: center;
    font-size: 40px;
}


input[type=text], input[type=password], input[type=url] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:#F4E4D8;
}



.fa-right-to-bracket {
    font-size: 45px;
    align-items: center;
}


.wrapper-mail i, .wrapper-pass i {
    margin: 8px auto;   
    border:1px solid black;
    padding: 10px 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}


.wrapper-mail, .wrapper-pass {
    display: flex;
}



.login-redirect {
    text-align: center;
}

.login-redirect a {
    text-decoration: none;
}

.login-btn {
    padding: 10px 35px;
    margin: 30px 0px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}


.wrapper-register {
    width: 350px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
}

.register-title {
    display: flex;
    flex-direction: column;
    line-height: 2;
    text-align: center;
    font-size: 40px;
    margin: 5px;
}

.register-btn {
    padding: 10px 35px;
    margin: 30px 0px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.firstName, .lastName {
    display: flex;
    margin: 8px auto;
}

.firstName i, .lastName i {
    margin: 8px auto;   
    border:1px solid black;
    padding: 10px 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* .festival-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
} */



/* .add-festival-title {
    display: flex;
    flex-direction: column;
    line-height: 2;
    text-align: center;
    font-size: 40px;
    margin: 5px;
} */

.fa-music {
    font-size: 45px;
    text-align: center;
    padding: 30px;
}

/* .btn-add-fest {
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 20px 30px;
} */

/* .fest-btn {
    padding: 10px 25px;
    margin: 10px 20px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
} */

/* .ticket-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
} */

/* .plus, .minus {
    padding: 8px 20px;
    margin: 10px 0px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
} */

/* .catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 40px;
    
} */

/* .fest-item, .fest-item .details {
    width: 337px;
    border: none;
    box-shadow: 0px 0px 10px;
    border-radius: 15px;
    margin: 20px 20px;
} */

/* .details {
    margin: 30px auto;
} */

/* .fest-text, .fest-dates, .catalog-summary, .catalog-location {
    margin: 10px 0;
    padding: 0px 0px;
    text-align: center;
    margin-top: 0px;
} */

/* .user-btn {
    display: flex;
    justify-content: space-between;
    border: none;
    cursor: pointer;
} */

/* .delete, .edit, .save {
    padding: 10px 25px;
    margin: 35px 10px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
} */



.my-tickets {
    display: flex;
    justify-content: center;  
    align-items: center;
   
    
  
}


.table-my-tickets {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
    margin: 30px 10px;
}


/* .cart {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
    margin: 30px 10px;
} */

/* .cart-wrapper {
    display: flex;
    justify-content: center;
} */


/* .cart-ticket-btn {
    padding: 10px 25px;
    margin: 20px 20px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
} */

/* .tickets-cart {
    display: flex;
    flex-direction: row;
    justify-content: end;
} */

/* .total-cart-wrapper {
    display: flex;
    justify-content: center;
} */