input[type=text], input[type=password], input[type=url] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color:#F4E4D8;
}


.wrapper-register {
    width: 450px;
    height: 700px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    padding: 30px 30px;
}

.register-title {
    display: flex;
    flex-direction: column;
    line-height: 2;
    text-align: center;
    font-size: 40px;
    margin: 5px;
}

.register-btn {
    padding: 10px 35px;
    margin: 30px 0px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.firstName, .lastName {
    display: flex;
    margin: 8px auto;
}

.firstName i, .lastName i {
    margin: 8px auto;   
    border:1px solid black;
    padding: 10px 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    padding: 60px 100px;
}

.wrapper-mail i, .wrapper-pass i {
    margin: 8px auto;   
    border:1px solid black;
    padding: 10px 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}


.wrapper-mail, .wrapper-pass {
    display: flex;
}


.register {
    display: flex;
    justify-content: center;
    padding: 60px 100px;
}


.btn-container {
    display: flex;
    justify-content: center;
}

.login-redirect {
    text-align: center;
}

.login-redirect a {
    text-decoration: none;
}

.fa-lock {
    padding-right: 5px;
}
