.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 40px;
    
}

.popular-fests-title, .fest-city-title {
    text-align: center;
    margin: 60px 40px;
}

.fest-item {
    width: 337px;
    border: none;
    box-shadow: 0px 0px 10px;
    border-radius: 15px;
    margin: 20px 20px;
}

.ticket-btn {
    padding: 10px 25px;
    margin: 10px 20px;
    border-radius: 25px;
    background-color: #704632;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.popular-fests-title, .fest-city-title {
    text-align: center;
    margin: 60px 40px;
}